apscheduler>=3.11.0
beautifulsoup4>=4.13.0
flask>=3.1.0
PyRSS2Gen>=1.1
tzlocal>=5.2
selenium>=4.28.1
webdriver-manager>=4.0.2
requests>=2.32.3
python-dateutil>=2.9.0.post0
pytest>=8.3.4
hypothesis>=6.125.1
